body {
    background-color: #F2F2F2;
}

.region-section {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    border-radius: 15px;
    width: 288px;
    height: 512px;
    background: #FFFFFF;
    box-sizing: border-box;
    overflow: hidden;
}

.header {
    display: flex;
    justify-content: space-between;
}

.select-region-title {
    margin-top: 0;
    margin-bottom: 12px;
    font-family: 'lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
}

.modal-close-wrap {
    width: 20px;
    height: 20px;
}

.modal-close-wrap::before,
.modal-close-wrap::after {
    content: "";
    position: absolute;
    top: 102px;
    right: 643px;
    width: 15px;
    height: 1px;
    background-color: black;
    border-radius: 2px;
}

.modal-close-wrap::before {
    transform: rotate(45deg);
}

.modal-close-wrap::after {
    transform: rotate(315deg);
}

.clear-input {
    margin-bottom: 10px;
}

.select-regions-input {
    margin-bottom: 16px;
    padding-left: 12px;
    width: 93%;
    height: 48px;
    font-family: 'lato', sans-serif;
}

.region-line {
    width: 255px;
    height: 2px;
    background-color: #D9D9D9;
}

.region-name {
    margin-bottom: 12px;
    list-style: none;
    font-family: 'lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.leningrad {
    margin-bottom: 0;
}

.region-line {
    margin-bottom: 16px;
}